@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:wght@500&family=Reem+Kufi+Fun:wght@500&display=swap");

body {
  font-family: "Ms Madi", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Reem Kufi Fun", sans-serif;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9bc27292880429.5e569ff84e4d0.gif");
}

.container {
  background-image: url("https://images6.alphacoders.com/374/thumbbig-374290.webp");
  background-image: url("https://images3.alphacoders.com/866/thumbbig-86687.webp");
  margin: 65px;
  color: #1c1c1c;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  padding: 65px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 200px;
  box-shadow: 6px 6px 6px #0e1d2f;
}

.titulo {
  box-shadow: 6px 6px 6px #0e1d2f;
  color: AliceBlue;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 45, 140, 1) 40%,
    rgba(0, 178, 195, 1) 100%
  );
  border-radius: 20px;
  margin-left: 20px;
  padding: 20px;
}

.titulo h1 {
  font-weight: 800;
  font-size: 45px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 30px;
}

.tema button {
  display: flex;
  align-items: flex-end;
  margin-left: 400px;
  margin-bottom: 200px;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 100px;
  background: #e0ffff;
}

.projetos {
  background: #87ceeb;
  margin: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 300px;
  font-size: 25px;
}

.redes {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 20px;
}

.iconeinsta {
  border-radius: 460px;
  max-height: 30px;
  box-shadow: 3px 3px 3px #0e1d2f;
  margin: 5px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}

.links {
  list-style-type: none;
  text-decoration: none;
}

.dark {
  background-image: url("https://64.media.tumblr.com/4c989428ba947bc4966e07e76d36bd28/118ec01107834a73-07/s1280x1920/fdb109b146e112c17776b4198d1fa61396b951e0.gifv");
}

.dark .container {
  box-shadow: 6px 6px 6px black;
  background-image: url("https://images7.alphacoders.com/316/thumb-1920-316707.jpg");
  color: #e2d5d5;
}

.dark .titulo {
  box-shadow: 6px 6px 6px black;
  color: #e2d5d5;
  background: rgb(52, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(52, 0, 0, 1) 0%,
    rgba(103, 0, 0, 1) 90%
  );
}

.dark .projetos {
  box-shadow: 6px 6px 6px black;
  background: #320000;
}

.dark .perfil-foto {
  box-shadow: 6px 6px 6px black;
}

.dark .tema button {
  color: #e2d5d5;
  background: #950101;
}